body {
  background-image: url("./btc1.jpg");
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
}

.title-login {
  color: aliceblue;
  font-size: 20px;
  align-content: center;
  display: flex;
  justify-content: center;
}

.login-wrapper {
  display: grid;
  width: 20vw;
  position: fixed;
  top: 60%;
  left: 50%;
  justify-items: top;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

.input {
  margin: 10px;
}

.submit {
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 5px;
  cursor: pointer;
  width: 8vw;
  margin-left: 60px;
}
